@model Item
@{
	ViewBag.Title = "Edit Item";
	Layout = "_AdminLayout";
}

<form asp-action="Edit" method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="Id" />
	<div class="form-group">
		<label class="form-label" asp-for="Name">Имя</label>
		<input class="form-control" asp-for="Name"/>
		<div><span asp-validation-for="Name" class="text-danger"></span></div>
	</div>
	<div class="form-group">
		<label class="form-label" asp-for="Category">Категория</label>
		<input class="form-control" asp-for="Category" />
		<div><span asp-validation-for="Category" class="text-danger"></span></div>
	</div>
	<div class="form-group">
		<label class="form-label" asp-for="Description">Описание</label>
		<textarea class="form-control" asp-for="Description"></textarea>
		<div><span asp-validation-for="Description" class="text-danger"></span></div>
	</div>
	<div class="form-group">
		<label class="form-label" asp-for="Price">Цена</label>
		<input class="form-control" asp-for="Price"/>
		<div><span asp-validation-for="Price" class="text-danger"></span></div>
	</div>
	<div class="form-group">
		<label class="form-label" asp-for="addedTime">Время добавления</label>
		<input class="form-control" asp-for="addedTime"/>
	</div>
	<div class="form-group">
		<label class="form-label">Изображение</label>
		@if(Model.ImagePath!=null)
		{
			<img src="~/uploads/@Model.ImagePath" style="width:50%;" />
		}
		<input class="form-control"name="MyImage"value="@Model.ImagePath" type="file"/>
	</div>
	<div class="text-center">
		<button class="btn btn-success"type="submit">Сохранить</button>
		<a asp-action="Index" class="btn btn-warning">Отменить</a>
	</div>
</form>