<section class="page-content">
          <div class="container">
              <div class="support-message page-content-wrapper">
                  <h1>Поддержка</h1>
                  <textarea placeholder="Напишите сообщение..."></textarea>
                  <div class="d-flex">
                      <a class="green-btn"href="#"><span>Отправить</span></a>
                  </div>
              </div>
          </div>
      </section>