<section class="page-content">
          <div class="container">
              <div class="page-content-wrapper">
                  <h1>Доставка</h1>
                  <p>Нашим гостям мы предлагаем жаркую парилку, разогретую до оптимального температурного режима и душистые веники. Благодаря правильному проектированию помещений русской бани в Домодедово, наш легкий пар не жжет кожу и не оставляет после себя головную боль. В банный комплекс входят: русская баня на дровах, оздоровительные SPA-процедуры, хаммам, бассейн и караоке. Для Вашего удобства в составе нашего комплекса имеется уютный зал, где Вы можете расслабиться и сделать заказ из нашего меню. Банный комплексе De’Lore рассчитан на одновременное посещение 25 человек.</p>
                  <p>Нашим гостям мы предлагаем жаркую парилку, разогретую до оптимального температурного режима и душистые веники. Благодаря правильному проектированию помещений русской бани в Домодедово, наш легкий пар не жжет кожу и не оставляет после себя головную боль. В банный комплекс входят: русская баня на дровах, оздоровительные SPA-процедуры, хаммам, бассейн и караоке. Для Вашего удобства в составе нашего комплекса имеется уютный зал, где Вы можете расслабиться и сделать заказ из нашего меню. Банный комплексе De’Lore рассчитан на одновременное посещение 25 человек.</p>
                  <div class="d-flex">
                      <a class="green-btn"asp-action="Shop"><span>В каталог</span></a>
                      <a class="btn-white"asp-action="Payment"><span>Об оплате</span><img src="/img/arrowA.svg"></a>
                  </div>
              </div>
          </div>
      </section>